<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysRoleDao">
	<sql id="queryWhereId">
		<where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	<select id="findPageObjects"
		resultType="com.cy.pj.sys.entity.SysRole">
		select * from sys_roles
		<include refid="queryWhereId" />
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	<select id="getRowCount" resultType="int">
		select count(*)
		from sys_roles
		<include refid="queryWhereId" />
	</select>
	<delete id="deleteObject" parameterType="int">
		delete
		from sys_roles
		where id=#{id}
	</delete>
	<!-- useGeneratedKeys 获取写入数据库的主键 keyProperty 获取主键值赋值给哪一个变量 -->


	<insert id="insertObject"
		parameterType="com.cy.pj.sys.entity.SysRole" useGeneratedKeys="true"
		keyProperty="id">

		insert into sys_roles
		(id,name,note,createdTime,modifiedTime,
		createdUser,modifiedUser)
		values
		(null,#{name},#{note},now(),now(),
		#{createdUser},#{modifiedUser})

	</insert>
	<resultMap type="com.cy.pj.common.vo.SysRoleMenuVo"
		id="sysRoleMenuVo">
		<!-- 尝试自己实现：思考讨论 自己补充实现 -->
		<collection property="menuIds" column="id"
			select="com.cy.pj.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId">
		</collection>
	</resultMap>
	<!-- 基于角色id查询角色信息 -->
	<select id="findObjectById" resultMap="sysRoleMenuVo">
		select id,name,note
		from
		sys_roles
		where id=#{id}
	</select>

	<update id="updateObject"
		parameterType="com.cy.pj.sys.entity.SysRole">
		update sys_roles

		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="note!=null and note!=''">
				note=#{note},
			</if>
			<if test="modifiedUser!=null and modifiedUser!=''">
				modifiedUser=#{modifiedUser},
			</if>
			modifiedTime=now()
		</set>
		where id=#{id}
	</update>
</mapper>